<div class="container py-5">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4" *ngFor="let item of features">
      <div class="card nga-card-angular nga-card-cascade">
        <div class="nga-card-img">
          <a routerLink="/{{ item.link }}">
            <img class="img-fluid card-img-top" src="./assets/params/images/demo/{{ item.image }}" alt="Card image cap">
          </a>
        </div>
        <div class="card-body pt-0">
          <h4 class="h6 card-title">
            <span style="font-size: 14px;"><strong>{{ item.description }}
              </strong></span>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div id="quiz">
    <div class="container-fluid">
      <div id="quiz-stats" class="row text-center">
        <div class="col-xs-3">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="col-xs-3 col-lg-2">
          <p>Correct Rate</p>
          <span id="rate-span" class="animated">{{stats.correct}}/{{stats.questionsAsked}}</span>
        </div>
        <div class="col-xs-3 col-lg-2">
          <p>Time to Answer</p>
          <span id="streak-span" class="animated">{{this.question.timeout+1}}</span>
        </div>
        <div class="col-xs-3 col-lg-2">
          <p><span>Avg. </span>Response Time (s)</p>
          <span id="response-time-span" class="animated">{{stats.averageResponseTime}}</span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
          <p id="quiz-question" class="animated">
            {{questions[stats.currentQuestion].question}}
          </p>
          <div id="quiz-options">
            <button id="quiz-ans-5"
                    (click)="selectAnswer(i)"
                    [class]="getCssClasses(i)" *ngFor="let item of
                    question.answers; index as i">{{item}}</button>
          </div>
          <div id="quiz-play-again">
            <button id="quiz-play-again-btn" class="btn animated">Play Again</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
